.dart_tool/
.packages
build/
pubspec.lock

doc/api/

*.iml         // IntelliJ
*.ipr         // IntelliJ
*.iws         // IntelliJ
.idea/        // IntelliJ
.DS_Store     // Mac

.flutter-plugins
.flutter-plugins-dependencies
